@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>

    <h3>Referências: </h3>
    <p>
        <a href="https://docs.microsoft.com/pt-br/aspnet/core/host-and-deploy/iis/?view=aspnetcore-5.0#iis-configuration">Hospedar o ASP.NET Core no Windows com o IIS</a>
    </p>
    <p>
        <a href="https://docs.microsoft.com/pt-br/aspnet/core/tutorials/publish-to-iis?view=aspnetcore-5.0&tabs=visual-studio#install-the-net-core-hosting-bundle">Publicar um aplicativo ASP.NET Core no IIS</a>
    </p>
    <p>
        <a href="https://docs.microsoft.com/pt-br/aspnet/core/getting-started/?view=aspnetcore-5.0&tabs=windows">Tutorial: introdução ao ASP.NET Core</a>
    </p>
</div>
